body{

}


.rz-data-grid:hover {
    
    cursor: pointer;
}

#relation-button{
    margin-bottom:30px;
}

.prodentSpan {
    font-weight: 540;
    font-size: 16px;
    font-style: italic;
    &:hover
{
    text-decoration: underline;
    
}
}

.titleSpan{
    font-weight: 700;
    font-size:20px;
    display:inline;
}

.titleLanguage{
    font-weight:900;
    font-size: 13px;
}

.rowDiv {
    height: 33%;
    min-width: 100px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.synopsisDiv {
    font-family:'Arial';
    font-weight:400;
    font-size:17px;
    padding-right:20px;
    
}